Total Members of <%= @nation %>: <%= @total_members %><br><br>

<p>Member information:</p>
<% @show_members.each do |character| %>

<li>Name: <%= character[:name] %>, Allies: <%= character[:allies] %>, Enemies: <%= character[:enemies] %>, Affiliation: <%= character[:affiliation] %></li>
<% if character[:photoUrl] %>
  <%= image_tag character[:photoUrl] %>
<% end %>
<% end  %>
